@import'utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --termary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}
body{
    height: 4000px;
    font-family:'poppins' ,sans-serif
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}
header{
    background: var(--dark);
}
.container{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
}

header nav .left a{
color:var(--pure);
text-decoration: none;
margin-right:2rem;
text-transform:uppercase;
transition:all .3s ease;
}
header nav .left a:hover{
    color:var(--primary);
}
header nav {
    padding:2rem 0;
}
header nav .branding{
    margin-right:3rem;
}

.h .left img{
    width:400px ;
}
.h .right{
    color:var(--pure);
}
.h .right h6{
    font-size:1.6rem;
    color:var(--primary);
    margin-bottom: 0.5rem;
}
.h .right h1{
    font-size:4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom:4rem;   
}
.h .right h1 span{
    color:var(--primary);
}
.h .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.h .right {
    mask-origin:7rem;
}

section{
    padding:6rem 0;
}
section.about  .about-me-img{
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}
.section.about h1{
    margin-bottom: 4rem;
    font-size:1.6rem ;
    font-weight:400;
}
.section .about span{
    color:var(--primary);
}
.section.about h3{
    font-size: 1rem;
    margin-bottom: 4rem;
    font-weight: 400;
}
.section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--termary);
    line-height: 1.8;
    margin-bottom: 9rem;
}
.section.about .social{
    display: flex;
}
.section.about .social a{
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    margin-right: 0.6rem;
    transition: all .3s ease;
}
.section.about .social a:hover{
    background: var(--primary);
}
.section.about .social a img{
    width: 100%;
    height: 100%;
    padding:0.5rem;
    margin-right: auto;
}

.section-heading{
    color:var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading span{
    color: var(--primary);
}
.section-heading + p{
    color: var(--termary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}
section.skills{
    background: var(--light);
}
section.skills .card-wrapper{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}
section.skills .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition-timing-function: all .3s ease ;
}
section.skills .card-wrapper .card img{
    position:absolute;
    top:-3.5rem;
    left:50%;
    transform: translateX(-50%);
}
section.skills .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.skills .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color: var(--termary);
    line-height: 1.6;
}
section.skills .card-wrapper .card:hover{
    background: var(--dark);
}
section.skills .card-wrapper .card:hover h2, section.skills .card-wrapper .card:hover p{
    color:var(--pure);
}
section.Blog{
    background:var(--dark);
}
section.Blog .section-heading{
    color: var(--pure);
}
section.Blog .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
}
section.Blog .card-wrapper .card{
    background: var(--pure);
}
section.Blog .card-wrapper .card .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.Blog .card-wrapper .card .card-content{
    padding: 1rem;
}
section.Blog .card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
}
section.Blog .card-wrapper .card .card-content a{
    color: var(--secondary);
    text-decoration: none;
}
section.Blog .card-wrapper .card .card-content a:hover{
    color: var(--primary);
}
section.Blog .card-wrapper .card .card-conten p{
    font-family: 'Lato', sans-serif;
    color: var(--termary);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}
section.contact h1{
    margin-bottom: 5rem;
}
section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom:0.5rem ;
}
section.contact .card-wrapper .card h6{
    font-size:1rem;
    color:var(--termary);
    font-weight: 400;
    margin-bottom: 4rem;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrap-2{
     display: flex;
     flex-direction:column ;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact input{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea:focus{
    outline: none;
}
section.contact input:focus{
    outline: none;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}